.article{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
}

.pictureBanner{
    width: 80%;
    height: 120px;;
    background-size: cover;
    background-position: center;
}
.pictureBanner1{
    background-size: cover;
    background-position: center;
}

.pictureFull{
    margin-top: 100px;
    margin-bottom: 50px;
    height: 800px;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.banner{
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.details{
    font-weight: bold;
    margin-top: 50px;
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.line{
    width: 80%;
    height: 1px;
    background: #e0e0e0;
    margin: 10px;
}

.articleContent{
    width: 80%;
    margin-top: 50px;
    line-height: 30px;
}

@media screen and (max-width: 768px){
    .articleContent{
        justify-content: center;
        font-size: 0.8em;
        line-height: 22px;
        width: 90%;
    }
    .pictureBanner{
        width: 90%;
    }
    .details{
        width: 90%;
        font-size: 0.8em;
    }
    .views{
        display: none;
    }
    .line{
        width: 90%;
    }
}
    
